# Ignorar archivos y directorios dentro de la carpeta terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
# Add to .gitignore
.terraform/

# Archivos de estado de Terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Archivos sensibles
*.tfvars
!*.tfvars.example

# Lockfile de Terraform
terraform/.terraform.lock.hcl
